    @{
    ViewData["Title"] = "Home Page";
    }

    <div class="main_page">
        <div class="Informações">
            <div class="redes-sociais">
                <a href="https://github.com/Rodrigo-Mesquitaa" target="_blank">GitHub</a>
             </div>
            <h1>Projeto F# desenvolvimento Web</h1>
            <ul>
                <li><b>Nome:</b> Rodrigo Mesquita</li>
                <li><b>Desenvolvedor:</b> FullStack </li>
                <li><b>Cidade:</b> São Paulo - São Paulo</li>
             
            </ul>
        </div>
        <main>
            <h3 class="col-8">Desenvolvedor FullStack</h3>
            <ul>
                <li> Back End e Front End</li>
                <li> Desenvolvedor - Júnior
                <li> Criação de API´s: Crud e Rest Full
                <li> Criar novas funcionalidades e correções </li>
                <li> Tecnologias:  C#, React-Native, ReactJs, Flutter, AngularJs-10, Nodejs, Python, F#,  </li>
                <li> Projeto aprendizado em F# conhecendo a linguagem </li>
            </ul>
            <h3 class="col-md-auto">Formação Acadêmica</h3>
            <ul>
                <li>Cursando: Analise e Desenvolvimento de Sistemas- UNICSUL - 5° Período</li>
                <li>Previsão de Formação - Dez./2022</li>
            </ul>
            <h3>Cursos Complementares </h3>
            <p>  <li><b>C# </b> Cursando </li>Udemy </p>
            <p>  <li><b>Flutter </b> Cursando </li>Udemy </p>
            <p>  <li><b>Sql-Server </b> Cursando </li>Udemy </p>
            <p>  <li><b>Python  </b> Concluido </li>FIAP </p>
            <h3>Idiomas</h3>
            <p>-Inglês: Técnico</p>
        </main>
    </div>
